<!--IMPORTAR LIBRERIAS JS A USAR EN EL FRONTED-->
<!--Input-range-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

<!--Datepicker-->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<!--Chartjs para para las grafica con configuracion zoom-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>

<!--IMPORTAR Socket.iot para trabajar con comunicacion socket-->
<script src="/socket.io/socket.io.js" charset="utf-8"></script>