<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registro estancia</title>

    <%- include ('partials/head.html'); -%>
</head>

<body class="pagina-registro">

    <div class="container" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-sm-9 col-md-7 col-lg-7 mx-auto my-auto">
                <div class="card card-signin">
                    <div class="card-body">

                        <div class="text-center">
                            <img src="/logos/<%= datos.logo %>" height="100px" width="250px">
                        </div>

                        <H2 class="text-center mt-4 mb-2"> Registrar estancia</H2>

                        <div id="spinner" style="display: none;">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <form class="form-signin">
                            <div class="row m-0">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-4">
                                    <div class="form-label-group">
                                        <input type="text" id="input-nombre" class="form-control" placeholder="" required autofocus>
                                        <label for="input-nombre">Nombre de la estancia</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 mt-4">
                                    <div class="form-label-group">
                                        <input type="text" id="input-ubicacion" class="form-control" placeholder="" required autofocus>
                                        <label for="input-ubicacion">Ubicación</label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="d-flex justify-content-center mt-4 mb-3">
                            <button id="btn-volver" type="button" class="btn btn-danger btn-lg mr-3 mr-lg-5 px-4" style="border-radius: 5rem;  transition: all 0.2s;">Regresar</button>
                            <button id="btn-aceptar" type="button" class="btn btn-danger btn-lg ml-3 ml-lg-5 px-4" style="border-radius: 5rem;  transition: all 0.2s;">Aceptar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ('partials/footer.html'); -%>

        <script>
            $(document).ready(function() {

                $("#btn-volver").click(function() {
                    window.location.href = "/panel-usuario";
                });

                $("#btn-aceptar").click(function() {
                    var nombre = document.getElementById("input-nombre").value;
                    var ubicacion = document.getElementById("input-ubicacion").value;

                    if ((nombre.length == 0) || (ubicacion.length == 0)) {
                        $.alert('' +
                            '<label>Ningún campo puede ser nulo</label>' +
                            '<div class="text-center">' +
                            '<i class="fas fa-times fa-4x"></i>' +
                            '</div>');
                        return false;
                    }

                    var mensaje = "¿Deseas registrar la estancia " + nombre + " en la ubicación " + ubicacion + "?";

                    $.confirm({
                        title: 'Confimar',
                        content: mensaje,
                        buttons: {
                            Si: function() {
                                document.getElementById("spinner").style.display = "block"
                                $.post("/datos-registro-bd", {
                                    nombre,
                                    ubicacion,
                                    bd: "estancias"
                                }, function(res) {
                                    console.log(res)
                                    var respuesta = res;
                                    if (respuesta == "Ya existe")
                                        $.alert('' +
                                            '<label>La estancia ya está registrada</label>' +
                                            '<div class="text-center">' +
                                            '<i class="fas fa-times fa-4x"></i>' +
                                            '</div>');
                                    else if (respuesta == "Error") {
                                        $.alert('' +
                                            '<label>Error al registrar</label>' +
                                            '<div class="text-center">' +
                                            '<i class="fas fa-times fa-4x"></i>' +
                                            '</div>');
                                    } else {
                                      var arrayDeCadenas = respuesta.split("/");
                                      firebase.database().ref('estancias/'+arrayDeCadenas[3]).set({
                                        fecha:arrayDeCadenas[0],
                                        id_usuario:arrayDeCadenas[1],
                                        nombre:arrayDeCadenas[2],
                                        ubicacion:arrayDeCadenas[4]

                                      });
                                        document.getElementById("input-nombre").value = "";
                                        document.getElementById("input-ubicacion").value = "";
                                        $.alert('' +
                                            '<label>Estancia registrada exitosamente.' +
                                            '</label>' +
                                            '<div class="text-center">' +
                                            '<i class="fas fa-check fa-4x"></i>' +
                                            '</div>');
                                    }
                                }).done(function() {
                                    document.getElementById("spinner").style.display = "none"
                                });
                            },
                            No: function() {},
                        }
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function() {
                var height = $(window).height();
                $('.pagina-registro').height(height);
            });

            // Para detectar cambio de pantalla
            $(window).resize(function() {
                var height = $(window).height();
                $('.pagina-registro').height(height);
            });
        </script>

</body>

</html>
